body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: rgb(35, 35, 126);
}

.about {
    background:rgb(168, 15, 46);
    padding: 1px;
    color: gold;
}

img {
    height: 175px;
    width: 175px;
}

.column {
    float: left;
    margin-right: 16px;
    margin: 10px;
    width: 23%;
}

.card {
    box-shadow: 0px 4px 4px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
}